
.page {
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size);
  color: var(--text);
  overflow-x: hidden;
}

.page.isBlock {
  overflow-y: hidden;
}



.button {
  font-family: "Epilogue Medium", sans-serif;
  border-radius: var(--border-radius-button);
  transition-duration: var(--duration);
  text-align: center;
}


.button--text-white {
  color: var(--white);
}

.button--text-purple {
  color: var(--purple-200);
}

.button--small {
  padding: 18px 25px;
}

.button--medium {
  padding: 18px 34px;

}

.button--blue {
  background: var(--gradient-purple);
}

.button--blue:hover {
  background: var(--purple-100);
/*  TODO: найти решение проблемы, когда при наведении на кнопку, градиент ссменяется на сплошной цвет с поддергиванием. Пройтись по ответу чата GPT*/
}

.button--purple {
  background: var(--purple-300);
}

.button--green {
  background: var(--green);
}

.button--green:hover {
  background-color: #5a9b5a;
}

.button--green-gr {
  background: var(--gradient-green);
}

.button--white {
  background: var(--white);
}

@media (max-width: 992px) {
  .button {
    /* font-size: 14px; */
  }

  .button--small {
    padding: 10px 15px;
  }
}

.title {
  font-family: "Epilogue Medium", sans-serif;
  font-size: 40px;
  line-height: 1.5;
  color: var(--nav-items);
}

.title--label {
  padding-left: 99px;
}

.title--white {
  color: var(--white);
}

.title--gradient {
  background: var(--gradient-title);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.green-label {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../image/services/green-figure.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 91px;
    height: 81px;
  }
}

@media (max-width: 768px) {
  .button--purple {
    padding: 15px 25px;
  }

  .title-label {
    padding-left: 74px;
  }

  .green-label {
    &::before {
      width: 66px;
      height: 59px;
    }
  }
}

.blue-label {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../image/services/blue-figure.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 91px;
    height: 81px;
  }
}

.gray-block {
  background: var(--gray-100);
  border-radius: var(--border-radius);
}

.blue-block {
  background: var(--gradient-title);
}

.footer__title {
  line-height: 1.75;
  color: var(--gray-200);
  margin-bottom: 15px;
}


.footer-item {
  & a {
    color: var(--gray-200);
    opacity: 0.5;
    transition-duration: var(--duration);
  }

  & a:hover {
    color: var(--purple-300);
    opacity: 1;
  }

}



.footer-item:not(:nth-child(6)) {
  margin-bottom: 16px;
}


