.hero {
  position: relative;
  background: url('../image/hero/baner.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  border-radius: var(--border-banner);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--gradient-white);
  width: 100%;
  height: 100%;
  z-index: 1;
}


.hero__content {
  position: relative;
  z-index: 2;
  padding-top: 135px;
  padding-left: 13px;
  width: 100%;
  max-width: 500px;
}

.hero__label {
  display: inline-block;
  font-family: "Epilogue Semi-Bold", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--yellow);
  margin-bottom: 20px;
}

.hero__title {
  font-family: "Epilogue Medium", sans-serif;
  font-size: 64px;
  line-height: 1.25;
  color: var(--nav-items);
  margin-bottom: 34px;
}

.hero__desc {
  font-family: "Epilogue Medium", sans-serif;
  font-size: 20px;
  margin-bottom: 48px;
}

.hero__button {
  display: inline-block;
  margin-bottom: 183.5px;
}

@media (max-width: 992px) {
  .hero__content {
    padding-top: 80px;
  }

  .hero__label {
    font-size: 16px;
    margin-bottom: 28px;
  }

  .hero__title {
    font-size: 50px;
    margin-bottom: 28px;
  }

  .hero__desc {
    margin-bottom: 76px;
  }
}

@media (max-width: 772px) {

  .hero {
    background-position: center;
    border-radius: 0;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .hero__content {
    padding-top: 30px;
    padding-left: 0;
    max-width: 332px;
  }

  .hero__label {
    font-size: 12px;
    margin-bottom: 28px;
  }

  .hero__title {
    font-size: 40px;
    color: var(--white);
    margin-bottom: 22px;
  }

  .hero__desc {
    font-size: 14px;
    color: var(--white);
    margin-bottom: 47px;
  }

  .hero__button {
    margin-bottom: 42px;

  }
}