.started {

}

.started__inner {
  padding-top: 109px;
  text-align: center;
  border-radius: var(--border-radius);
  opacity: 0.8;
  margin-bottom: 387px;
}

.started__title {
  margin-inline: auto;
  max-width: 901px;
  margin-bottom: 33px;
  font-size: 48px;
}

.started__button {
  position: relative;
  margin-bottom: 259px;
}

.started__button:before {
  content: "";
  position: absolute;
  bottom: -481px;
  left: -158%;
  background: url("../image/started/people.png") no-repeat;
  background-size: cover;
  width: 820px;
  height: 457px;
}

@media (max-width: 992px) {
  .started__title {
    font-size: 40px;
    margin-bottom: 42px;
  }

  .started__button {
    margin-bottom: 132px;
  }

  .started__button:before {
    bottom: -400px;
    left: -58%;
    width: 355px;
    height: 202px;
    pointer-events: none;
  }
}

@media (max-width: 768px) {
  .started {
    padding: 0 23px;
  }

  .started__title {
    font-size: 32px;
  }

  .started__button {
    padding: 18px 25px;
  }
}



