@import url('./reset.css');
@import url('./fonts.css');
@import url('./variables.css');
@import url('./global.css');
@import url('./utils.css');

@import url('./header.css');
@import url('./hero.css');
@import url('./teams.css');
@import url('./services.css');
@import url('./organization.css');
@import url('./testimonials.css');
@import url('./choose-us.css');
@import url('./insights.css');
@import url('./crew.css');
@import url('./started.css');
@import url('./footer.css');